.App {
    display: flex; 
    height: 100vh; 
  }
  
  .left-section {
    flex:1;
    padding-left: 2%;
    width: 70vw;
    background-color: #f0f0f0; 
  }
  
  .right-section {
    flex:1;
    width: 30vw; 
    background-color: #5c5f6d; 
    overflow: auto; /* Pour laisser défiler si le contenu est plus grand */
    padding-left: 40px;
    padding-right: 40px;
  }
  .react-calendar__navigation {
    position: relative;
    border-bottom: 1px solid rgba(192, 192, 192, 0.438);
  }
 